/* .ant-menu.ant-menu-dark{
  background: #111118 !important;
  height: auto !important;
  min-height: 100vh;
  
}

.ant-menu-item span{
  margin-left: 1.5rem;
} */
/* 
.side-nav{
  height: auto;
} */